body{
    display: flex;
    justify-content: center;
}
.dash{
    background-color: rgb(204, 223, 239);
    width: 20%;
    height: 20rem;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 2rem;
    margin-top: 10%;
    border: 2px solid black;
}
#submit{
    width: 50%;
    margin-left: 3.5rem;
    height: 2rem;
    border-radius: 15px;
    background-color: rgb(76, 150, 215);
}
h2{
    margin-bottom: 5rem;
}
#date{
    margin-bottom: 2rem;
    font-size: 20px;
}
#btns{
     margin-bottom: 1rem;
     font-size: 20px;
}
.submission{
 width: 20%;
    height: 10rem;
    border-radius: 10px;
    display: flex;
    background-color: rgb(130, 175, 215);
    flex-direction: column;
    margin-top: 10%;
    padding-left: 2rem;
    padding-top: 1rem;
}
.submission i {
    font-size: 4rem;
    color: aqua;
    margin-right: 1.2rem;
}
#icon{
    text-align: center;
}
#view{
  background-color: rgb(130, 175, 215);
  width: 50%;  
  margin-left: 20%;
  margin-top: 5%;
  font-size: 17px;
}